{% extends 'base.html' %} {% load static %}

{% block title %}
  {{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
  <header>
    <nav>
      <a href="{% url 'recipe_list' %}">Main page</a>
      <a href="{% url 'edit_recipe' recipe_object.id %}">Edit recipe</a>
    </nav>
  </header>
  <main class="flexbox-container">
    <div class="left">
      <h1>{{ recipe_object.title }}</h1>
      <img src="{{ recipe_object.picture|default:"https://via.placeholder.com/150" }}" />
      <div class="rating">Created on:   {{ recipe_object.created_on|date:"F j Y" }}</div>
      <div class="rating">4.3 stars &#9734</div>
      <p>{{ recipe_object.description }}</p>
    </div>
    <div class="right">
      <h2>Ingredients</h2>
      <table class="ingredients-table">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Food item</th>
          </tr>
        </thead>
        <tbody>
          {% for ingredient in recipe_object.ingredients.all %}
            <tr>
              <td>{{ ingredient.amount }}</td>
              <td>{{ ingredient.food_item }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <h2>Steps</h2>
      <ol>
        {% for step in recipe_object.steps.all %}
          <li>{{ step.instruction }}</li>
        {% endfor %}
      </ol>
  </div>
  </main>
{% endblock content %}
