{% extends 'base.html' %} {% load static %}

{% block title %}
  Edit {{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
  <header>
    <nav>
      <a href="{% url 'recipe_list' %}">Main page</a>
    </nav>
  </header>
  <main>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button>Save</button>
    </form>
  </main>
{% endblock content %}
