{% extends 'base.html' %} {% load static %}

{% block title %}
  Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
  <nav>
    <div class="scrumptious">Scrumptious Recipes</div>
    {% if user.is_authenticated %}
      Hello, {{ user.username }}
      <a href="{% url 'recipe_list' %}">Main page</a>
      <a href="{% url 'my_recipe_list' %}">My Recipes</a>
      <a href="{% url 'create_recipe' %}">Create recipe</a>
      <a href="{% url 'user_logout' %}">Logout</a>
    {% else %}
      <a href="{% url 'recipe_list' %}">Main page</a>
      <a href="{% url 'signup' %}">Sign up</a>
      <a href="{% url 'user_login' %}">Login</a>
    {% endif %}
  </nav>
</header>
<main>
  <div class="heading">
    <h1>Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat</h2>
  </div>
  <div class="food-list">
    {% for recipe in recipe_list %}
    <div>
      <h3>
        <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
      </h3>
      <img src="{{ recipe.picture|default:"https://via.placeholder.com/150" }}"  class="list-image"/>
      <p>{{ recipe.created_on|date:"F j Y" }}</p>
      <div class="rating">4.3 stars &#9734</div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock content %}
