@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

/* nav {
  display: grid;
  grid-column: 1 / 2;
  grid-template-columns: 1fr repeat(3, fit-content(50px));
  background-color: rgba(41, 55, 53, 0.9);
  border-bottom: 1px solid black;
  padding: 16px;
  white-space: nowrap;
} */
.scrumptious {
  font-size: 1.5rem;
  margin: 0.5rem;
  color: #fdc400;
}

nav {
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: rgba(41, 55, 53, 0.9);
  padding: 16px;
}

nav a {
  display: block;
  color: white;
  padding: 10px 20px;
  float: right;
}

h1 {
  color: #146152;
}

h3 > a {
  color: #44803f;
  font-size: 31px;
}

body {
  font-family: "Caveat", sans-serif;
  font-size: 20px;
  margin: none;
  padding: none;
  background-color: #f0ece2;
}

main {
  padding: 16px;
  margin-bottom: auto;
}

footer {
  padding: 24px 0px 24px 28px;
  position: static;
  bottom: 8px;
  background-color: #c7b198;
  margin-top: 50px;
}

img {
  border-radius: 50px;
  height: 300px;
  filter: drop-shadow(0 0 0.75rem rgba(41, 55, 53, 0.9));
}

a {
  text-decoration: none;
}

a:hover {
  color: #fdc400;
  transition: .3s;
}

.food-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  position: relative;
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgb(220, 220, 220);
}

h3 > a:hover {
  color: #146152;
}

.rating {
  margin-top: 10px;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  margin-right: 20%;
}

.flexbox-container > div{
  flex: 1;
}

.left, .right{
  text-align: center;
}

.list-image {
  height: 200px;
}

.heading {
  text-align: center;
}

table, ol {
  text-align: center;
  margin: auto;
  list-style-position: inside;
}
